# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
db.sqlite3
media/
staticfiles/
.env

# UV & IDE
.uv
.idea/
.vscode/